html,
body {
  scroll-behavior: smooth;
}


/*=============== STAR ===============*/
.star:hover {
  cursor: pointer;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(152, 4%, 53%);
}

::-webkit-scrollbar-thumb {
  background: hsl(152, 4%, 29%);
  border-radius: 0.5rem;
}


/*=============== Card Element ===============*/
:root {
  --gray-border: rgba(0, 0, 0, 0.15);

  --gray_2: '#2D3748';
  --gray_3: '#4A5568';
  --accent_3: '#2f855a';
  --accent_6: '#68d391';
}


/* Stripe fields */

.StripeElement {
  display: block;
  margin: 10px 0 20px 0;
  padding: 10px 14px;
  border: 2px solid lightgray;
  border-radius: 5px;
  background: white;
}

.StripeElement--focus {
  border: 2px solid green
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}

.StripeElement--invalid {
  border: 2px solid red;
  color: red
}

.StripeElement--complete {
  border: 2px solid green;
  color: green
}


/*=============== Testimonials ===============*/
.slick-arrow.slick-next:before,
.slick-arrow.slick-prev:before {
  display: none;
}

ul.slick-dots li button:before {
  font-size: 1rem;
  top: 1.1em;
}

.slick-dots li button:before {
  color: #a899cf;
  opacity: 0.4;
}

.slick-dots li.slick-active button:before {
  color: #553c9a;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .input-stripe {
    background: var(--gray_3);
    color: #fff;
  }

  .input-stripe:focus,
  .StripeElement--focus {
    
  }

  .input-stripe.StripeElement--invalid {
   
  }

  .input-stripe.StripeElement--complete {
   
  }
}