html,
body {
  /* font-family: 'Poppins', sans-serif; */
  scroll-behavior: smooth;
}


/*=============== Language Switcher ===============*/
select.select-language {
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  padding: .5rem .25rem;
  transition: all .25s;
}
select.select-language:hover {
  cursor: pointer;
  background-color: #edf2f7;
}
/* select language dark mode */
select.select-language:hover.dark {
  cursor: pointer;
  background-color: #2d3748;
  color: white;
}

/*=============== STAR ===============*/
.star:hover {
  cursor: pointer;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(152, 4%, 53%);
}

::-webkit-scrollbar-thumb {
  background: hsl(152, 4%, 29%);
  border-radius: 0.5rem;
}
